<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>ch.heigvd.amt.amt_project.web.filters.SecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
   
<filter>
   <filter-name>RestFilter</filter-name>
   <filter-class>com.ibm.websphere.jaxrs.server.IBMRestFilter</filter-class>
   <init-param>
       <param-name>javax.ws.rs.Application</param-name>
       <param-value>RestFilter</param-value>
   </init-param>
   
   <init-param>
       <param-name>requestProcessorAttribute</param-name>
       <param-value>RestFilter</param-value>
   </init-param>
</filter>
<filter-mapping>
    <filter-name>RestFilter</filter-name>
    <url-pattern>/api/*</url-pattern>
</filter-mapping>
 
    <servlet>
        <servlet-name>AuthenticationServlet</servlet-name>
        <servlet-class>ch.heigvd.amt.amt_project.web.controllers.AuthenticationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>ch.heigvd.amt.amt_project.web.controllers.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppServlet</servlet-name>
        <servlet-class>ch.heigvd.amt.amt_project.web.controllers.AppServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>ch.heigvd.amt.amt_project.web.controllers.AccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthenticationServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/pages/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppServlet</servlet-name>
        <url-pattern>/pages/app</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/pages/account</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
