/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 18, 2015, 11:20:59 AM
    Author     : xajkep
*/

body {
    background-color: window;
}

.navbar-brand {
    font-family: Impact;
    letter-spacing: 2px;
    text-shadow: 0 0 1px white;
}

.stats {
    margin-top: 10px;
    padding: 0 10px 20px 10px;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-family: fantasy;
    background-color: rgba(0,0,0,0.1);
}

.stats hr {
    border: 1px grey solid; 
    
}

.control-label {
    font-size: 1.2em;
    font-weight: bold;
}

.static-form {
    line-height: 1.4em;
    font-size: 1.1em;
    vertical-align: middle;
    display: block;
    padding-top: 10px;
}

.form-horizontal textarea {
    height: 200px;
}